In [8]:
# 표로 만들기 위해서 사용한다.
# 그래프를 위해서 만드는 라이브러리는 matplotlib, 표를 만드는 라이브러리는 pandas
# NumPy array는 한가지 데이터 타입만 표현이 가능해서 여러가지를 보여줄 수 없다. -> pandas
# pandas: 데이터를 불러오기, 데이터를 가공, 데이터 분석, 데이터 시각화
import pandas as pd

df = pd.DataFrame({
  # key, value로 이루어져있다. array 형태로
    'category': ['skirt', 'sweater', 'coat', 'jeans'],
    'quantity': [10, 15, 6, 11],                                     
    'price': [30000, 60000, 95000, 35000]
})

df

df['category']

# DataFrame은 여러개의 Series가 조합된것
type(df['category'])

df['quantity'].mean()
df['quantity'] * df['price']

0    300000
1    900000
2    570000
3    385000
dtype: int64

In [17]:
# 데이터를 불러올꺼다. csv -> 값들이 쉼표로 구분되어있다.
burger_df = pd.read_csv("data/burger.csv")
burger_df

# 헤더가 없을 때 header=None으로 지정하거나 따로 설정
# 따로 설정하는 방법 : names
burger_df2 = pd.read_csv("data/burger2.csv", header=None, names=["product_name","calories","carb","protein","fat","sodium","category"])
burger_df2

             product_name  calories  carb  protein  fat  sodium category
0                 Whopper       660    49       28   40     1.0  Burgers
1          Cheese Whopper       740    50       32   46     1.3  Burgers
2          Double Whopper       900    49       48   58     1.0  Burgers
3   Double Cheese Whopper       980    50       52   64     1.4  Burgers
4          Whopper Junior       310    27       13   18     0.4  Burgers
5              Bacon King      1150    49       61   79     2.2  Burgers
6     Single Stacker King       700    48       35   42     1.4  Burgers
7     Double Stacker King      1050    49       61   68     NaN  Burgers
8               Hamburger       240    26       13   10     0.4  Burgers
9            Cheeseburger       280    27       15   13     0.6  Burgers
10       Double Hamburger       350    26       21   18     0.4  Burgers
11    Double Cheeseburger       390    27       23   21     0.6  Burgers
12         Crispy Chicken       670    54       23   41     1.1  Chicken
13        Chicken Nuggets       170    11        8   11     0.3  Chicken
14  Spicy Chicken Nuggets       210    11        8   15     0.6  Chicken

In [19]:
# 데이터를 불러올꺼다. csv -> 값들이 쉼표로 구분되어있다.
# 인덱스 컬럼을 사용할 수 있고, 인덱스컬럼은 중복되지 않는 값을 사용한다.
# 컬럼 이름을 적어도되고, 인덱스 숫자를 적어도된다.
burger_df = pd.read_csv("data/burger.csv", index_col="product_name")
burger_df

                       calories  carb  protein  fat  sodium category
product_name
Whopper                     660    49       28   40     1.0  Burgers
Cheese Whopper              740    50       32   46     1.3  Burgers
Double Whopper              900    49       48   58     1.0  Burgers
Double Cheese Whopper       980    50       52   64     1.4  Burgers
Whopper Junior              310    27       13   18     0.4  Burgers
Bacon King                 1150    49       61   79     2.2  Burgers
Single Stacker King         700    48       35   42     1.4  Burgers
Double Stacker King        1050    49       61   68     NaN  Burgers
Hamburger                   240    26       13   10     0.4  Burgers
Cheeseburger                280    27       15   13     0.6  Burgers
Double Hamburger            350    26       21   18     0.4  Burgers
Double Cheeseburger         390    27       23   21     0.6  Burgers
Crispy Chicken              670    54       23   41     1.1  Chicken
Chicken Nuggets             170    11        8   11     0.3  Chicken
Spicy Chicken Nuggets       210    11        8   15     0.6  Chicken

In [46]:
players_df = pd.read_csv('data/tottenham_2021.csv', index_col="name")
players_df

players_df.iloc[[1,3], [0,3]]
# players_df.iloc[1:4, 0:3]
players_df.loc['Harry Kane', 'goals']
players_df.loc[['Harry Kane', 'Son Heung-Min'], 'goals']

players_df.loc['Son Heung-Min', 'goals']

np.int64(17)

In [ ]:

burger_df = pd.read_csv("data/burger.csv", index_col=0)
burger_df_cal = burger_df['calories'] < 500
burger_df[burger_df_cal]
burger_df.loc[burger_df_cal, ['protein', 'carb']]

burger_df.loc['Double Stacker King', 'sodium']
burger_df.loc['Double Stacker King', 'sodium'] = 1.9

burger_df.loc['Double Stacker King', 'sodium']

np.float64(1.9)

In [66]:
players_df = pd.read_csv('data/tottenham_2021.csv', index_col='name')

mark = players_df['goals'] > 0

players_df.loc[mark]

                   matches  minutes  goals  assists
name
Pierre Højbjerg         38     3420      2        4
Son Heung-Min           37     3114     17       10
Harry Kane              35     3082     23       14
Tanguy Ndombele         33     2091      3        2
Toby Alderweireld       25     2240      1        0
Serge Aurier            19     1605      2        3
Lucas Moura             30     1411      3        4
Steven Bergwijn         21     1208      1        3
Giovani Lo Celso        18      945      1        1
Gareth Bale             20      920     11        2
Érik Lamela             23      717      1        0
Carlos Vinícius          9      308      1        0